    <h1>Agregar producto:</h1>
    <form action="/" method="POST">
        <label for="title">Nombre del producto:</label>
        <input type="text" id="title" name="title" required />
        <label for="price">Precio del producto:</label>
        <input type="text" id="price" name="price" required />
        <label for="thumbnail">Imagen del producto:</label>
        <input type="text" id="thumbnail" name="thumbnail" required />
        <input class="submit" type="submit" value="Cargar producto" />
    </form>

<h2>Productos</h2>
{{#if productos.length}}
    <div class="yowi">
        <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {{#each productos}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td><img
                        class="img"
                        src="{{thumbnail}}"
                        alt="imagen del producto"
                    /></td>
            </tr>
        {{/each}}
    </table>
    </div>
{{else}}
    <h3>No hay productos agregados!</h3>
{{/if}}

<h2>Chat</h2>
<form onsubmit="return addMessage(this)">
    <input type="email" id="email" placeholder="Ingrese su email" />
    <input type="text" id="text" placeholder="Ingrese su mensaje" />
    <input class="submit" type="submit" value="Enviar" />
</form>
<div id="messages"></div>